* {
    box-sizing: inherit;
}

:root {
    --active-background-l-delta: 10%;
    --active-border-l-delta: 20%;
    --arrow-color: hsl(233, 100%, 63%);
    --block-spacing: 1.5rem;
    --body-background-color: var(--scheme-main);
    --body-color: var(--text);
    --body-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    --body-font-size: 1em;
    --body-line-height: 1.5;
    --body-min-width: 300px;
    --body-overflow-x: hidden;
    --body-overflow-y: scroll;
    --body-rendering: optimizeLegibility;
    --body-size: 1em;
    --body-weight: var(--weight-normal);
    --border-weak: hsl(221, 14%, 21%);
    --button-size: var(--size-normal);
    --column-gap: 0.75rem;
    --duration: 294ms;
    --focus-shadow-size: 0 0 0 0.1875em;
    --form-block-spacing: 0.75rem;
    --hover-background-l-delta: 5%;
    --hover-border-l-delta: 10%;
    --input-line-height: 1.5;
    --input-radius: 0.375rem;
    --label-color: var(--text-strong);
    --label-spacing: 0.5rem;
    --scheme-main: hsl(221, 14%, 9%);
    --select-border-width: 1px;
    --select-height: 2.5em;
    --select-padding-horizontal: calc(0.75em - 1px);
    --select-padding-vertical: calc(0.5em - 1px);
    --shadow: 0 0.5em 1em -0.125em hsla(0, 0%, 100%, 0.1), 0 0px 0 1px hsla(0, 0%, 100%, 0.02);
    --size-5: 1.25rem;
    --size-normal: 1rem;
    --strong-color: var(--text-strong);
    --strong-weight: var(--weight-semibold);
    --text: hsl(221, 14%, 71%);
    --text-strong: hsl(221, 14%, 93%);
    --weight-bold: 700;
    --weight-extrabold: 800;
    --weight-medium: 500;
    --weight-normal: 400;
    --weight-semibold: 600;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
li {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--body-background-color);
    box-sizing: border-box;
    font-size: var(--body-size);
    min-width: var(--body-min-width);
    overflow-x: var(--body-overflow-x);
    overflow-y: var(--body-overflow-y);
    text-rendering: var(--body-rendering);
}

body,
select {
    font-family: var(--body-family);
}

body {
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4 {
    --title-color: var(--text-strong);
    --title-line-height: 1.125;
    --title-weight: var(--weight-extrabold);
    color: var(--title-color);
    font-weight: var(--title-weight);
    line-height: var(--title-line-height);
}

h1,
h2,
h3,
h4,
hgroup > p {
    word-break: break-word;
}

h1,
h2,
h3,
h4,
hgroup:not(:last-child),
form > *:not(:last-child) {
    margin-bottom: var(--block-spacing);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

hgroup > h2 {
    margin-bottom: 0;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

header {
    display: block;
}

article > header {
    align-items: stretch;
    background-color: var(--card-header-background-color);
    box-shadow: var(--card-header-shadow);
    display: flex;
}

article > header:first-child {
    border-start-end-radius: var(--card-radius);
    border-start-start-radius: var(--card-radius);
}

article {
    --card-background-color: var(--scheme-main);
    --card-color: var(--text);
    --card-content-background-color: transparent;
    --card-content-padding: 1.5rem;
    --card-footer-background-color: transparent;
    --card-footer-border-top: 1px solid var(--border-weak);
    --card-footer-padding: 0.75rem;
    --card-header-background-color: transparent;
    --card-header-color: var(--text-strong);
    --card-header-padding: 0.75rem 1rem;
    --card-header-shadow: 0 0.125em 0.25em hsla(221, 14%, 4%, 0.1);
    --card-header-weight: var(--weight-bold);
    --card-radius: 0.75rem;
    --card-shadow: var(--shadow);
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    color: var(--card-color);
    margin-top: 1.5rem;
    max-width: 100%;
    position: relative;
}

article > main {
    background-color: var(--card-content-background-color);
    padding: var(--card-content-padding);
}

article > main:last-child {
    border-end-end-radius: var(--card-radius);
    border-end-start-radius: var(--card-radius);
}

section {
    margin-top: 1rem;
}

article > footer {
    align-items: stretch;
    background-color: var(--card-footer-background-color);
    border-top: var(--card-footer-border-top);
    display: flex;
}

article > footer:last-child {
    border-end-end-radius: var(--card-radius);
    border-end-start-radius: var(--card-radius);
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.grid {
    margin-inline-end: calc(var(--column-gap) * -1);
    margin-inline-start: calc(var(--column-gap) * -1);
    margin-top: calc(var(--column-gap) * -1);
}

.grid:last-child {
    margin-bottom: calc(var(--column-gap) * -1);
}

.grid > div {
    display: block;
    flex: none;
    padding: var(--column-gap);
    width: 100%;
}

hgroup > p {
    --subtitle-color: var(--text);
    --subtitle-line-height: 1.25;
    --subtitle-size: var(--size-5);
    --subtitle-weight: var(--weight-normal);
    color: var(--subtitle-color);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    line-height: var(--subtitle-line-height);
}

article > header > p {
    align-items: center;
    color: var(--card-header-color);
    display: flex;
    flex-grow: 1;
    font-weight: var(--card-header-weight);
    padding: var(--card-header-padding);
}

article p:not(:last-child),
article ol:not(:last-child) {
    margin-bottom: 1em;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin-inline-start: 2em;
    margin-left: 3rem;
}

article ol:not(:first-child) {
    margin-top: 1em;
}

li {
    margin-bottom: 0.5rem;
}

footer > * {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: var(--card-footer-padding);
}

footer > *:not(:last-child) {
    border-inline-end: var(--card-footer-border-top);
    margin-right: 0.5rem;
}

strong {
    color: var(--strong-color);
    font-weight: var(--strong-weight);
}

form > * {
    --block-spacing: var(--form-block-spacing);
}

label {
    color: var(--label-color);
    display: block;
    font-size: var(--size-normal);
    font-weight: var(--weight-semibold);
}

label:not(:last-child) {
    margin-bottom: var(--label-spacing);
}

select,
button {
    align-items: center;
    appearance: none;
    border-color: hsl(221, 14%, calc(24% + var(--input-border-l-delta)));
    border-radius: var(--input-radius);
    border-style: solid;
    border-width: var(--select-border-width);
    box-shadow: none;
    display: block;
    font-size: var(--button-size);
    height: var(--select-height);
    line-height: var(--input-line-height);
    padding: var(--select-padding-vertical) var(--select-padding-horizontal);
    position: relative;
    transition-duration: var(--duration);
    transition-property: background-color, border-color, box-shadow, color;
    vertical-align: top;
}

form > select,
form > button {
    box-sizing: border-box;
    clear: both;
    font-size: var(--size-normal);
    max-width: 100%;
    position: relative;
    text-align: inherit;
    width: 100%;
}

select {
    --input-active-border-l-delta: var(--active-border-l-delta);
    --input-border-l-delta: 0%;
    --input-focus-shadow-size: var(--focus-shadow-size);
    --input-hover-border-l-delta: var(--hover-border-l-delta);
    background-color: hsl(221, 14%, 9%);
    color: hsl(221, 14%, 93%);
    cursor: pointer;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding-inline-end: 2.5em;
}

select::after {
    border: 0.125em solid var(--arrow-color);
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    inset-inline-end: 1.125em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition-duration: var(--duration);
    transition-property: border-color;
    width: 0.625em;
    z-index: 4;
}

select:hover {
    --input-border-l-delta: var(--input-hover-border-l-delta);
}

select:active,
select:focus,
select:focus-visible,
select:focus-within,
button:active,
button:focus,
button:focus-visible,
button:focus-within {
    outline: none;
}

select:active {
    --input-border-l-delta: var(--input-active-border-l-delta);
}

select:focus,
select:focus-within {
    border-color: hsl(233, 100%, 63%);
    box-shadow: var(--input-focus-shadow-size) hsla(233, 100%, 63%, 0.25);
}

button {
    --button-active-background-l-delta: var(--active-background-l-delta);
    --button-active-border-l-delta: var(--active-border-l-delta);
    --button-background-l-delta: 0%;
    --button-border-l-delta: 0%;
    --button-border-style: solid;
    --button-border-width: 0px;
    --button-hover-background-l-delta: var(--hover-background-l-delta);
    --button-hover-border-l-delta: var(--hover-border-l-delta);
    --button-padding-horizontal: 1em;
    --button-padding-vertical: 0.5em;
    --button-weight: var(--weight-medium);
    background: none;
    background-color: hsl(171, 100%, calc(41% + var(--button-background-l-delta)));
    border: none;
    border-color: hsl(171, 100%, calc(41% + var(--button-border-l-delta)));
    border-style: var(--button-border-style);
    border-width: var(--button-border-width);
    box-shadow: 0 0.0625em 0.125em hsla(0, 0%, 20%, 0), 0, 0.125em, 0.25em hsla(0, 0%, 20%, 0);
    color: hsl(171, 100%, 6%);
    cursor: pointer;
    font-family: inherit;
    font-weight: var(--button-weight);
    height: auto;
    justify-content: center;
    margin: 0;
    padding: calc(var(--button-padding-vertical) - var(--button-border-width)) calc(var(--button-padding-horizontal) - var(--button-border-width));
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

button:hover {
    --button-background-l-delta: var(--button-hover-background-l-delta);
    --button-border-l-delta: var(--button-hover-border-l-delta);
}

button:active {
    --button-background-l-delta: var(--button-active-background-l-delta);
    --button-border-l-delta: var(--button-active-border-l-delta);
}

button:focus-visible {
    --button-border-width: 1px;
    border-color: hsl(233, 100%, 63%);
    box-shadow: var(--focus-shadow-size) hsla(233, 100%, 63%, 0.25);
    outline-offset: var(--focus-offset);
}

button.success {
    background-color: hsl(153, 53%, calc(53% + var(--button-background-l-delta)));
    border-color: hsl(153, 53%, calc(53% + var(--button-border-l-delta)));
    color: hsl(153, 53%, 8%);
}

button.light {
    background-color: hsl(221, 14%, calc(96% + var(--button-background-l-delta)));
    border-color: hsl(221, 14%, calc(96% + var(--button-background-l-delta)));
    color: hsl(221, 14%, 21%);
}

@media print, screen and (min-width: 769px) {
    .grid {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1344px;
    }
}
