@charset "UTF-8";

* {
    box-sizing: inherit;
}

:root {
    --active-background-l-delta: 10%;
    --active-border-l-delta: 20%;
    --arrow-color: var(--link);
    --block-spacing: 1.5rem;
    --body-background-color: var(--scheme-main);
    --body-color: var(--text);
    --body-family: var(--family-primary);
    --body-font-size: 1em;
    --body-line-height: 1.5;
    --body-min-width: 300px;
    --body-overflow-x: hidden;
    --body-overflow-y: scroll;
    --body-rendering: optimizeLegibility;
    --body-size: 1em;
    --body-weight: var(--weight-normal);
    --border-l: 24%;
    --border-weak: hsl(var(--scheme-h), var(--scheme-s), var(--border-weak-l));
    --border-weak-l: 21%;
    --column-gap: 0.75rem;
    --control-border-width: 1px;
    --control-height: 2.5em;
    --control-line-height: 1.5;
    --control-padding-horizontal: calc(0.75em - 1px);
    --control-padding-vertical: calc(0.5em - 1px);
    --control-radius: var(--radius);
    --control-size: var(--size-normal);
    --duration: 294ms;
    --family-primary: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    --field-block-spacing: 0.75rem;
    --focus-h: var(--link-h);
    --focus-l: var(--link-l);
    --focus-s: var(--link-s);
    --focus-shadow-alpha: 0.25;
    --focus-shadow-size: 0 0 0 0.1875em;
    --hover-background-l-delta: 5%;
    --hover-border-l-delta: 10%;
    --label-color: var(--text-strong);
    --label-spacing: 0.5em;
    --light-h: 221deg;
    --light-invert-l: 21%;
    --light-l: 96%;
    --light-s: 14%;
    --link: hsl(var(--link-h), var(--link-s), var(--link-l));
    --link-h: 223deg;
    --link-l: 63%;
    --link-s: 100%;
    --primary-05-l: 6%;
    --primary-h: 171deg;
    --primary-invert-l: var(--primary-05-l);
    --primary-l: 41%;
    --primary-s: 100%;
    --radius: 0.375rem;
    --scheme-h: 221deg;
    --scheme-invert-l: 4%;
    --scheme-main: hsl(var(--scheme-h), var(--scheme-s), var(--scheme-main-l));
    --scheme-main-l: 9%;
    --scheme-s: 14%;
    --shadow: 0 0.5em 1em -0.125em hsla(var(--shadow-h), var(--shadow-s), var(--shadow-l), 0.1), 0 0px 0 1px hsla(var(--shadow-h), var(--shadow-s), var(--shadow-l), 0.02);
    --shadow-h: 0deg;
    --shadow-l: 100%;
    --shadow-s: 0%;
    --size-5: 1.25rem;
    --size-normal: 1rem;
    --strong-color: var(--text-strong);
    --strong-weight: var(--weight-semibold);
    --text: hsl(var(--text-h), var(--text-s), var(--text-l));
    --text-h: 221deg;
    --text-l: 71%;
    --text-s: 14%;
    --text-strong: hsl(var(--text-h), var(--text-s), var(--text-strong-l));
    --text-strong-l: 93%;
    --weight-bold: 700;
    --weight-extrabold: 800;
    --weight-medium: 500;
    --weight-normal: 400;
    --weight-semibold: 600;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
li {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--body-background-color);
    box-sizing: border-box;
    font-size: var(--body-size);
    min-width: var(--body-min-width);
    overflow-x: var(--body-overflow-x);
    overflow-y: var(--body-overflow-y);
    text-rendering: var(--body-rendering);
}

body,
select {
    font-family: var(--body-family);
}

body {
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
}

h1.title {
    font-size: 3rem;
}

h2.title {
    font-size: 2.5rem;
}

h3.title {
    font-size: 2rem;
}

.content h4 {
    color: var(--content-heading-color);
    font-weight: var(--content-heading-weight);
    line-height: var(--content-heading-line-height);
}

h4.title {
    font-size: 1.5rem;
}

header {
    display: block;
}

article > header {
    align-items: stretch;
    background-color: var(--card-header-background-color);
    box-shadow: var(--card-header-shadow);
    display: flex;
}

article > header:first-child {
    border-start-end-radius: var(--card-radius);
    border-start-start-radius: var(--card-radius);
}

article > main {
    background-color: var(--card-content-background-color);
    padding: var(--card-content-padding);
}

article > main:last-child,
article > footer:last-child {
    border-end-end-radius: var(--card-radius);
    border-end-start-radius: var(--card-radius);
}

article {
    --card-background-color: var(--scheme-main);
    --card-color: var(--text);
    --card-content-background-color: transparent;
    --card-content-padding: 1.5rem;
    --card-footer-background-color: transparent;
    --card-footer-border-top: 1px solid var(--border-weak);
    --card-footer-padding: 0.75rem;
    --card-header-background-color: transparent;
    --card-header-color: var(--text-strong);
    --card-header-padding: 0.75rem 1rem;
    --card-header-shadow: 0 0.125em 0.25em hsla(var(--scheme-h), var(--scheme-s), var(--scheme-invert-l), 0.1);
    --card-header-weight: var(--weight-bold);
    --card-radius: 0.75rem;
    --card-shadow: var(--shadow);
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    color: var(--card-color);
    max-width: 100%;
    position: relative;
}

article > footer {
    align-items: stretch;
    background-color: var(--card-footer-background-color);
    border-top: var(--card-footer-border-top);
    display: flex;
}

.title,
.subtitle {
    --subtitle-color: var(--text);
    --subtitle-line-height: 1.25;
    --subtitle-size: var(--size-5);
    --subtitle-strong-color: var(--text-strong);
    --subtitle-strong-weight: var(--weight-semibold);
    --subtitle-weight: var(--weight-normal);
    --title-color: var(--text-strong);
    --title-line-height: 1.125;
    --title-weight: var(--weight-extrabold);
    word-break: break-word;
}

.title {
    color: var(--title-color);
    font-weight: var(--title-weight);
    line-height: var(--title-line-height);
}

.title:not(:last-child) {
    margin-bottom: var(--block-spacing);
}

.title:has(+ .subtitle) {
    margin-bottom: 0;
}

.card-header-title {
    align-items: center;
    color: var(--card-header-color);
    display: flex;
    flex-grow: 1;
    font-weight: var(--card-header-weight);
    padding: var(--card-header-padding);
}

.subtitle {
    color: var(--subtitle-color);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    line-height: var(--subtitle-line-height);
}

.subtitle:not(:last-child) {
    margin-bottom: var(--block-spacing);
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.columns {
    margin-inline-end: calc(var(--column-gap) * -1);
    margin-inline-start: calc(var(--column-gap) * -1);
    margin-top: calc(var(--column-gap) * -1);
}

.columns:last-child {
    margin-bottom: calc(var(--column-gap) * -1);
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--column-gap);
}

.content {
    --content-block-margin-bottom: 1em;
    --content-heading-color: var(--text-strong);
    --content-heading-line-height: 1.125;
    --content-heading-weight: var(--weight-extrabold);
}

.content p:not(:last-child) {
    margin-bottom: var(--content-block-margin-bottom);
}

.content ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin-inline-start: 2em;
}

.content ol:not(:first-child) {
    margin-top: 1em;
}

.content li + li {
    margin-top: 0.25em;
}

article > footer > * {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: var(--card-footer-padding);
}

article > footer > *:not(:last-child) {
    border-inline-end: var(--card-footer-border-top);
}

strong {
    color: var(--strong-color);
    font-weight: var(--strong-weight);
}

.subtitle strong {
    color: var(--subtitle-strong-color);
    font-weight: var(--subtitle-strong-weight);
}

label {
    color: var(--label-color);
    display: block;
    font-size: var(--size-normal);
    font-weight: var(--weight-semibold);
}

label:not(:last-child) {
    margin-bottom: var(--label-spacing);
}

select,
button {
    align-items: center;
    appearance: none;
    border-radius: var(--control-radius);
    border-style: solid;
    border-width: var(--control-border-width);
    box-shadow: none;
    display: inline-flex;
    font-size: var(--control-size);
    height: var(--control-height);
    line-height: var(--control-line-height);
    padding: var(--control-padding-vertical) var(--control-padding-horizontal);
    position: relative;
    transition-duration: var(--duration);
    transition-property: background-color, border-color, box-shadow, color;
    vertical-align: top;
}

select {
    background-color: hsl(var(--input-h), var(--input-s), calc(var(--input-background-l) + var(--input-background-l-delta)));
    border-color: hsl(var(--input-h), var(--input-s), calc(var(--input-border-l) + var(--input-border-l-delta)));
    border-radius: var(--input-radius);
    color: hsl(var(--input-h), var(--input-s), var(--input-color-l));
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding-inline-end: 2.5em;
}

.select.is-fullwidth select {
    width: 100%;
}

select:hover {
    --input-border-l-delta: var(--input-hover-border-l-delta);
}

select:active,
select:focus,
select:focus-visible,
select:focus-within,
button:active,
button:focus,
button:focus-visible,
button:focus-within {
    outline: none;
}

select:active {
    --input-border-l-delta: var(--input-active-border-l-delta);
}

select:focus,
select:focus-within {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: var(--input-focus-shadow-size) hsla(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l), var(--input-focus-shadow-alpha));
}

button {
    --button-active-background-l-delta: var(--active-background-l-delta);
    --button-active-border-l-delta: var(--active-border-l-delta);
    --button-background-l: var(--primary-l);
    --button-background-l-delta: 0%;
    --button-border-l: var(--primary-l);
    --button-border-l-delta: 0%;
    --button-border-style: solid;
    --button-border-width: 0px;
    --button-color-l: var(--primary-invert-l);
    --button-h: var(--primary-h);
    --button-hover-background-l-delta: var(--hover-background-l-delta);
    --button-hover-border-l-delta: var(--hover-border-l-delta);
    --button-outer-shadow-a: 0;
    --button-outer-shadow-h: 0;
    --button-outer-shadow-l: 20%;
    --button-outer-shadow-s: 0%;
    --button-padding-horizontal: 1em;
    --button-padding-vertical: 0.5em;
    --button-s: var(--primary-s);
    --button-weight: var(--weight-medium);
    background: none;
    background-color: hsl(var(--button-h), var(--button-s), calc(var(--button-background-l) + var(--button-background-l-delta)));
    border: none;
    border-color: hsl(var(--button-h), var(--button-s), calc(var(--button-border-l) + var(--button-border-l-delta)));
    border-style: var(--button-border-style);
    border-width: var(--button-border-width);
    box-shadow: 0 0.0625em 0.125em hsla(var(--button-outer-shadow-h), var(--button-outer-shadow-s), var(--button-outer-shadow-l), var(--button-outer-shadow-a)), 0 0.125em 0.25em hsla(var(--button-outer-shadow-h), var(--button-outer-shadow-s), var(--button-outer-shadow-l), var(--button-outer-shadow-a));
    color: hsl(var(--button-h), var(--button-s), var(--button-color-l));
    cursor: pointer;
    font-family: inherit;
    font-weight: var(--button-weight);
    height: auto;
    justify-content: center;
    margin: 0;
    padding: calc(var(--button-padding-vertical) - var(--button-border-width)) calc(var(--button-padding-horizontal) - var(--button-border-width));
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

button:hover {
    --button-background-l-delta: var(--button-hover-background-l-delta);
    --button-border-l-delta: var(--button-hover-border-l-delta);
}

button:active {
    --button-background-l-delta: var(--button-active-background-l-delta);
    --button-border-l-delta: var(--button-active-border-l-delta);
}

button:focus-visible {
    --button-border-width: 1px;
    border-color: hsl(var(--focus-h), var(--focus-s), var(focus-l));
    box-shadow: var(--focus-shadow-size) hsla(var(--focus-h), var(--focus-l), var(--focus-shadow-alpha))
}

button.light {
    --button-background-l: var(--light-l);
    --button-border-l: var(--light-l);
    --button-border-width: 0px;
    --button-color-l: var(--light-invert-l);
    --button-h: var(--light-h);
    --button-outer-shadow-a: 0;
    --button-s: var(--light-s);
}

.field {
    --block-spacing: var(--field-block-spacing);
}

.field:not(:last-child) {
    margin-bottom: var(--block-spacing);
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: var(--size-normal);
    position: relative;
    text-align: inherit;
}

.select {
    --input-active-border-l-delta: var(--active-border-l-delta);
    --input-background-l: var(--scheme-main-l);
    --input-background-l-delta: 0%;
    --input-border-l: var(--border-l);
    --input-color-l: var(--text-strong-l);
    --input-focus-h: var(--focus-h);
    --input-focus-l: var(--focus-l);
    --input-focus-s: var(--focus-s);
    --input-focus-shadow-alpha: var(--focus-shadow-alpha);
    --input-focus-shadow-size: var(--focus-shadow-size);
    --input-h: var(--scheme-h);
    --input-hover-border-l-delta: var(--hover-border-l-delta);
    --input-radius: var(--radius);
    --input-s: var(--scheme-s);
    display: inline-block;
    height: var(--control-height);
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.select::after {
    border: 0.125em solid var(--arrow-color);
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    inset-inline-end: 1.125em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition-duration: var(--duration);
    transition-property: border-color;
    width: 0.625em;
    z-index: 4;
}

.select.is-fullwidth {
    width: 100%;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-6 {
    margin-left: 3rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mt-4 {
    margin-top: 1rem !important;
}

.mt-5 {
    margin-top: 1.5rem !important;
}

@media print, screen and (min-width: 769px) {
    .columns {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1344px;
    }
}
